# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env/
.venv/

# Banco de dados
bancodb
*.db
*.sqlite3

# Alembic 
alembic/versions/*

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs e temporários
*.log
logs/
*.tmp
*.temp